
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Main</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/min.css'%}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="header">
      <ul class="nav nav-pills pull-right small">
        {%if you != None%}
        <li><a href="/blog/{{you.id}}/wall">Home</a></li>
        <li><a href="/audio/">Playlist</a></li>
          {%endif%}
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
          <li><a href="{%if you != None%}/logout/{%else%}/login/{%endif%}">{%if you != None%}Logout{%else%}Login{%endif%}</a> </li>
        <li><form class="navbar-form navbar-left" role="search" action="/search" method="get">{% csrf_token %}
          <div class="form-group form-group-sm">
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
          <button type="submit" class="btn btn-default btn-sm">Search..</button>
        </form></li>
      </ul>
      <h3 class="text-muted logo"><img src="{% static 'img/logo_grey.png'%}">Na-na-na</h3>
    </div>
    <div class="container">
      <div class="row marketing">
        If you want to wath list of<a class="btn" href="/authors/">Authors</a>click there
        </div>
      <div class="row marketing">
        You can also use searh on navigate-bar
        </div>
            <div class="row marketing">
        for more content you need to create account and login
        </div>
      </div>

      <div class="footer">
        <p>&copy; by Tosha 2016</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
