
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Playlist</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/min.css'%}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

       <script src="{% static 'js/jquery.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>

  </head>

  <body>
    <div class="header">
      <ul class="nav nav-pills pull-right small">
         {%if you != None%}
        <li><a href="/blog/{{you.id}}/wall">Home</a></li>
          <li><a href="/audio/">Playlist</a></li>

          {%endif%}
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
          <li><a href="{%if you != None%}/logout/{%else%}/login/{%endif%}">{%if you != None%}Logout{%else%}Login{%endif%}</a> </li>
        <li><form class="navbar-form navbar-left" role="search" action="/search" method="get">{% csrf_token %}
          <div class="form-group form-group-sm">
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
          <button type="submit" class="btn btn-default btn-sm">Search..</button>
        </form></li>
      </ul>
      <h3 class="text-muted logo"><img src="{% static 'img/logo_grey.png'%}">Na-na-na</h3>
    </div>
    <div class="container">
        <h2>Result</h2>
      <div class="row marketing">
        <div class="col-lg-12">
            {% for audio in audios%}
            <div class="post">
                <h4 style="display: inline-block; vertical-align: top;"><a href="/author/{{audio.author.id}}">{{audio.author.name}}</a> - {{audio.name}}</h4>

                <audio src="{{ audio.file.url }}" controls class="pull-right">Your browser don't support audio!</audio>

                {% if audio in you.audio.all %}{% else %}
                <button class="btn pull-right addAudioBtn" type="submit" value="{{audio.id}}">+
                        </button>

                    {% endif %}
                <hr>
            </div>
            {% endfor %}
        </div>
      </div>

      <div class="footer">
        <p>&copy; by Tosha 2016</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
